*{
	margin: 0;
	padding: 0;
	box-sizing:border-box;
}
body{
	font-family: "Youtube Sans";
	background-color: #282828;
}
.main-container{
	height: 100vh;
	width: 100%;
	flex-direction: column;
	display: flex;
	justify-content: center;
	align-items: center;
}
.main-container .player{
	width: 80%;
	border-radius: 20px;
	box-shadow: 1px 1px 10px black;
	margin-bottom: 20px;
	position: relative;
	/*animation: loadingPlayer .5s linear infinite alternate;*/
}
.player iframe{
	border-radius: 20px;
}
.loginFella{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	font-size: 50px;
	border-radius: 10px;
	color: white;
	cursor: default;
	padding: 10px 20px;
	background-color: #353535;
	border: 1px solid black;
}
.loginFella:hover{
	box-shadow: 1px 1px 15px black;
}
.main-container .inputField{
	width: 70%;
	min-height: 20%;
	max-height: 30%;
	display: flex;
	flex-direction: row;
	background-color: rgb(30, 30, 30);
	border-radius: 10px;
	box-shadow: 1px 1px 10px black;
	color: white;
}
.inputItems{
	width: 70%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-direction: column;
}
.searchInput{
	transition: .1s;
	width: 90%;
	height: 30%;
	border-radius: 10px;
	border: 2px solid black;
	outline: none;
	font-size: 27px;
	padding-top: 5px;
	position: relative;
	word-break: break-all;
	text-align: center;
}
.searchInput:hover{
	background-color: #121212;
}
.searchInput::after{
	content: '';
	position: absolute;
	width: 0%;
	text-align: center;
	word-break: break-all;
	height: 2px;
	background-color: white;
	top: 85%;
	left: 50%;
	transition: all .3s;
}
.searchInput:focus::after{
	width: 90%;
	left: 20px;
	background-color: grey;
}
.selectContainer{
	width: 50%;
	height: 30%;
	border-radius: 5px;
	box-shadow: 1px 1px 5px black;
	border: rgb(40, 40, 40) 2px solid;
	background-color: rgb(40, 40, 40);
	position: relative;
}
.selector{
	font-size: 25px;
	margin: 8px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.selectText{
	margin-left: 5px;
}
.selectItems{
	display: none;
	background-color: rgb(25, 25, 25);
	padding: 6px;
	position: absolute;
	width: 100%;
	margin-top: 10px;
	border-radius: 8px;
	font-size: 20px;
	box-shadow: 1px 1px 5px black;
	transform-origin: top;
	transition: .5s;
	animation: showItems .3s 1;
}
.selectItems >div{
	padding: 5px;
	border-radius: 5px;
	margin: 4px;
	cursor: pointer;
	background-color: rgb(30, 30, 30);
}
.selectItems>div:hover{
	background-color: rgb(15, 15, 15);
	box-shadow: 1px 1px 4px black;
}

.submitCONTAINER{
	width: 50%;
	height: 70%;
	margin: 10px;
	align-self: center;
	background-color: #282828;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 10px;
	transition: .5s;
	cursor: pointer;
	box-shadow: 1px 1px 10px black;
}
.submitCONTAINER:hover{
	background-color: #121212;
}
.submitBUTT{
	font-size: 40px;
}
@keyframes showItems{
	from{
		transform: scale(0);
	}
	to{
		transform: scale(1.0);
	}
}
@keyframes loadingPlayer{
	from{
		background-color: #282828;
	}
	to{
		background-color: #151515;
	}
}